@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.topnav {
  background-color: #E8A87C;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
   font-family: 'Quicksand', sans-serif;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: #41B3A3;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #E27D60;
  color: white;
}

body {
 font-family: 'Quicksand', sans-serif;
 font-size: 30px;
 margin: 0;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* SLIDESHOW FOR GALLERY CSS YAYAYAYYAYAYYYA */

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



/* The home banner*/
img {
    width: 100%;
    height: auto;
    margin-bottom: 0;

}

/* the section under home banner*/
* {
  box-sizing:border-box;
}

.container {
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  margin-top:0;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 15px;
}

.xlarge-font {
  font-size: 48px;
}
.p1 {
  font-size:20px;
}

.button {
  border: none;
  color: #41B3A3;
  padding: 16px 28px;
  font-size: 20px;
  cursor: pointer;
  background-color: #;
}

.image1 {
  display: block;
  height: auto;
  max-width: 330px;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
.image1{
    margin: auto;
  }
}
